pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/.cache
.lsp
.calva
assets/node_modules
resources/public/web/site.css
.clj-kondo
!.clj-kondo/config.edn