@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-link {
    @apply no-underline text-sm inline-flex items-center font-medium text-primary-700 hover:text-primary-900
  }

  .heading {
    @apply font-display
  }

  .section-heading {
    @apply font-display font-bold text-lg
  }

  .field-label {
    @apply label text-sm text-gray-600
  }

  .btn-primary {
    @apply button bg-primary-700 text-white hover:bg-primary-900 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2
  }

  .link-tertiary {
    @apply text-gray-700 underline hover:text-primary-700
  }

  .transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}