@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply block w-full shadow-sm rounded-md bg-white border-solid
           border-gray-200 placeholder-gray-400 
           focus:border-primary-200 focus:ring-2 focus:ring-primary-100;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

}

@layer components {
  .card-link {
    @apply no-underline text-sm inline-flex items-center font-medium text-primary-700 hover:text-primary-900
  }

  .heading {
    @apply font-display
  }

  .page-heading {
    @apply font-display font-bold text-lg
  }

  .field-label {
    @apply label text-sm text-gray-600
  }

  .btn-primary {
    @apply button px-4 py-2 bg-primary-700 text-white hover:bg-primary-900 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2
  }

  .link-tertiary {
    @apply text-gray-700 underline hover:text-primary-700
  }

  .transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}